# Compiled class file
*.class

# Log file
*.log
logs/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# gradle

.gradle/
build/
out/
classes/

# idea

.idea/*
*.iml
*.ipr
*.iws

# Keep the code styles!
!.idea/codeStyles/

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
remappedSrc/
