name: publish
on:
  release:
    types:
      - published

permissions:
  contents: write

env:
  BUILD_ARTIFACT_NAME: release-${{ github.event.release.tag_name }}
  MODRINTH_PROJECT_ID: iIPoKpIW
  CURSEFORGE_PROJECT_ID: 862771

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - uses: ./.github/actions/build-action
        with:
          artifact-name: ${{ env.BUILD_ARTIFACT_NAME }}

  publish:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts-${{ env.BUILD_ARTIFACT_NAME }}
          path: build-artfacts

      - name: Publish mod
        uses: Kir-Antipov/mc-publish@v3.3.0
        with:
          loaders: fabric
          version-type: release
          game-version-filter: releases
          dependencies: |-
            carpet(required)

          files: build-artfacts/*.jar

          game-versions: |-
            1.21.10
            1.21.8
            1.21.5
            1.21.4
            1.21.3
            1.21.1
            1.20.6
            1.20.4
            1.20.2
            1.20.2
            1.19.4
            1.18.2
            1.17.1

          # Publish to modrinth
          modrinth-id: ${{ env.MODRINTH_PROJECT_ID }}
          modrinth-token: "${{ secrets.MODRINTH_TOKEN }}"

          # Publish to github
          github-token: ${{ secrets.GITHUB_TOKEN }}

  update-rules-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Update wiki
        uses: ./.github/actions/update-wiki
        with:
          event-name: ${{ github.event.release.tag_name }}
